body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #e2f1f1;
    
   
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f476a;
  color: #fff;
  padding: 1rem;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header .logo i {
  margin-right: 0.5rem;
  color: #f39c12;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a i {
  margin-right: 0.3rem;
}

header nav ul li a:hover {
  color: #3998b3;
}

main {
  padding: 2rem;
}

.welcome {
  text-align: center;
  margin-bottom: 2rem;
}

.features ul {
  list-style: disc;
  padding-left: 2rem;
}

footer {
  text-align: center;
  background: #1f476a;
  color: #fff;
  padding: 1rem;
}

footer p i {
  margin-right: 0.3rem;
  color: #a9e86c;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.grid .item {
  background: #eaf4f3;
  padding: 1rem;
  text-align: center;
  max-width: 100%; /* Garante ajuste automático */
  height: auto;

}
.grid img {
  max-width: 100%; /* Garante ajuste automático */
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea,
form button {
  padding: 0.5rem;
  font-size: 1rem;
}

form button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #3998b3;
}

  
.button {
  display: block;
  width: 100%; /* Igual ao tamanho da imagem */
  height: 100%; /* Igual ao tamanho da imagem */
  padding: 0; /* Remover espaçamento interno */
  font-size: 16px;
  color: black;
  background-color: #d4f8a9;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem se encaixe corretamente */
}

.button:hover {
  background-color: #3998b3;
}


 .animado {
  font-size: 24px;
  font-weight: bold;
  color: black;
  transition: transform 0.5s ease, color 0.5s ease;
}

.animado:hover {
  transform: scale(1.03);
  /*color: #3998b3;*/
}

/*anima .botao{
  width: 200px;
    transition: transform 0.5s ease-in-out;
}

.anima .botao :hover{
  transform: scale(1.03);
}*/



@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .welcome,
  .features,
  .about,
  .contact {
    text-align: center;
  }

}
